
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #222;
  color: #fff;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  background-color: hsla(235, 0%, 35%, 1);
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.nav-links a:hover{
  background-color: hsla(235, 0%, 25%, 1);
}

.hero{
  text-align: center;
  padding: 3rem 1rem;
  background: #f4f4f4;
}

.hero button{
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
}

.products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.product-card{
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.product-card img{
  width: 100%;
  max-width: 200px;
}

.product-card button{
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

footer{
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #fff;
}
button:hover{
  background-color: hsla(59, 100%, 72%, 1);
}
/* Pop Up section */
.popup-section {
  display: none;
  padding: 2rem;
  margin: 2rem;
  background: #f9f9f9;
  border: 1px solid #ccc;
}

.popup-section.active {
  display: block;
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal box */
.modal-content {
  background: white;
  padding: 2rem;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

.modal-content button {
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px){
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .products{
    grid-template-columns: 1fr;
  }
}
